

<%- include('include/_header') %>

  <main id="site-main">
    <div class="container">
             <h1 class="text-center mb-3" style="margin-top: 80px;">
                Új alkalmazott felvétele
              </h1>
          
            
        <%- include('include/_form') %>
 
    </div>
</main>

<%- include('include/_footer') %>

