
<%- include('include/_header.ejs') %>
<%- include('include/_navbar.ejs') %>

  <main id="site-main">
    <div class="container shadow">
        <h3 class="text-secondary text-center">Új alkalmazott felvétele</h3>

        <%- include('include/_form') %>
 
    </div>
</main>


<%- include('include/_footer.ejs') %>