<%- include('include/_header') %>

<h1 class="mt-4" style="text-align: center">Ügyvezető</h1>

<div class="container" style="margin-top: 40px">

</div>


<div class="container">
    <h1></h1>

    <div class="row">
      <div class="col-sm-6">
        <div id="egyeb-list-component"></div>

        <br />
        <h3>Új termék hozzáadása:</h3>

        <form id="create-egyeb-component">
          <label class="w-50">
            név:
            <input type="text" name="nev" class="form-control" />
          </label>
          <label class="w-50">
            ár:
            <input type="number" name="ar" class="form-control" />
          </label>
          <br /><br />
          <button class="col-6 btn btn-outline-warning">Hozzáad</button>
        </form>
      </div>
    </div>
  </div>


<%- include('include/_footer') %>