<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUNPAO's CAFE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/sandstone/bootstrap.min.css"
    />
   
</head>
<body>

  <!-- MENÜ -->
 <div class="container" style="margin-top: 40px;margin-bottom: 50px;">
  <div class="row">      

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg" style="border-radius: 15px;">
      <div class="container-fluid">
        <a class="navbar-brand" href="chief" style="margin-right: 300px; font-weight: bold;">KUNPAO's CAFE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-coins"></i> Pénzügy</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="income">Bevétel</a>
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="orders">Rendelések</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users-cog"></i> Adminisztráció</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="add-user">Új alkalmazott felvétele</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="admin">Alkalmazottak lekérdezése</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fab fa-product-hunt"></i>Termékek</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Új termék felvétele</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="products">Termékek lekérdezése</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="bi bi-table"></i>Asztalok</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="table_1">1.asztal</a>                   
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="table_2">2.asztal</a>
                </div>
              </li>
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">Bejelentkezve: xxxx</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users/logout">Kijelentkezés</a>
              </div>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>
  </div>
 <!-- MENÜ VÉGE -->
 
  

<h1 class="mt-4" style="text-align: center">Bevételek</h1>



<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"
></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</body>
</html>