<%- include('include/_headerlog') %>


<div class="container">

  <div class="row mt-4 justify-content-center">
    <h1 class="text-center mb-3" style="margin-top: 100px;">
      KUNPAO's CAFE MANAGEMENT SYSTEM
    </h1>
  </div>


  <div class="row mt-4">
    <div class="col-md-4 m-auto">
        <form action="/users/login" method="POST" style="margin-top: 50px;">
          <div class="form-group">
            <label for="username">Felhasználónév</label>
            <input
              type="username"
              id="username"
              name="username"
              class="form-control"
              placeholder="Add meg a felhasználóneved"
            />
          </div>
          <div class="form-group" style="margin-top: 30px;">
            <label for="password">Jelszó</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Add meg a jelszavad"
            />
          </div>
          <button type="submit" class="btn btn-warning btn-block" style="margin-top: 40px;">Belépés</button>
        </form>
      
    </div>
  </div>
  
</div>





<%- include('include/_footerlog') %>