<%- include('include/_header_admin.ejs') %>
<%- include('include/_navbar.ejs') %>

  <div class="container" style="margin-top: 80px;margin-bottom: 50px;">

<div class="container mt-4">

    <div class="container shadow-lg" style="border-radius: 30px; width: 1200px;">

        <h3 class="text-secondary" style="margin-top: 80px;margin-left: 170px; font-weight: bold; margin-bottom: 30px;padding-top: 30px;">Megrendelés összesítő</h3>   
        
        <div class="col-9" style="margin-left: 170px; margin-top: 50px;">
       
            <table class="table table-hover">
                <thead style="text-align: center;">
                  <tr>
                    <th scope="col-2">Megrendelés azonosító</th>
                    <th scope="col-2">Végösszeg</th>
                    <th scope="col-2">Rendelés ideje</th>
                    <th scope="col-2">Műveletek</th>
                  </tr>
                </thead>
                <tbody id="orderstabla">
    
                </tbody>
              </table>
        </div>

      </div>
    
</div>

<%- include('include/_footer_table1') %>