<%- include('include/_header.ejs') %> <%- include('include/_navbar.ejs') %>

<h3 id="italok" class="cim text-secondary">Italok</h3>

<div class="col-12 col-xl-6 col-md-8 m-auto">
  <div id="italDIVadmin" class="row"></div>
</div>

<h2
  id="kavek"
  class="text-secondary"
  style="text-align: center; margin-top: 30px"
>
  Kávék
</h2>

<div class="col-12 col-xl-6 col-md-8 m-auto">
  <div id="kaveDIVadmin" class="row"></div>
</div>

<h2
  id="sutik"
  class="text-secondary"
  style="text-align: center; margin-top: 30px"
>
  Sütemények
</h2>

<div class="col-12 col-xl-6 col-md-8 m-auto">
  <div id="sutiDIVadmin" class="row"></div>
</div>

<script src="/js/products.js"></script>
<%- include('include/_footer.ejs') %>
