<%- include('include/_header.ejs') %> <%- include('include/_navbartables.ejs')
%>

<div class="container">
  <h3 class="cim text-secondary">Rendelés felvétele</h3>

  <div class="col-12 col-lg-12">
    <h2 id="italok" class="text-secondary">Italok</h2>
    <div>
      <div id="italDIV" class="row"></div>
    </div>

    <h2 id="kavek" class="text-secondary" style="margin-top: 30px">Kávék</h2>
    <div class="col-lg-12">
      <div id="kaveDIV" class="row"></div>
    </div>

    <h2 id="sutik" class="text-secondary" style="margin-top: 30px">
      Sütemények
    </h2>
    <div class="col-lg-12">
      <div id="sutiDIV" class="row"></div>
    </div>
  </div>

  <script src="/js/table_1.js"></script>
  <%- include('include/_footer.ejs') %>
</div>
