
<%- include('include/_headerlog') %>

<h2 class="mt-5" style="text-align: center">1. asztal rendelésének leadása</h2>


<div class="container-fluid" style="margin-top: 80px;">
  <div class="row">
    <div class="col-lg-6" style="margin-right: 200px; margin-left: 100px;">
  <h2 class="text-warning" style="text-align: center;">Italok</h2>
         <form action="/table_1" method="POST">
            <table class="table table-hover" style="margin-top: 20px">
                <thead>
                    <tr style="text-align: center">
                        <th style="border: none">Név</th>
                        <th style="border: none">Kategória</th>
                        <th style="border: none">Kiszerelés</th>
                        <th style="border: none">Ár</th>
                        <th style="border: none">Mennyiség</th>
                        <th style="border: none">Rendelés</th>
                    </tr>
                </thead>
                <tbody id="italoktabla">
                  
                </tbody>
            </table>
        </form>
        <h2 class="text-warning" style="text-align: center; margin-top: 40px;">Kávék</h2>
        <form action="/table_1" method="POST">
           <table class="table table-hover" style="margin-top: 20px">
               <thead>
                   <tr style="text-align: center">
                       <th style="border: none">Név</th>
                       <th style="border: none">Kategória</th>
                       <th style="border: none">Kiszerelés</th>
                       <th style="border: none">Ár</th>
                       <th style="border: none">Mennyiség</th>
                       <th style="border: none">Rendelés</th>
                   </tr>
               </thead>
               <tbody id="kavektabla">
                
               </tbody>
           </table>
       </form>

       <h2 class="text-warning" style="text-align: center; margin-top: 40px;">Sütemények</h2>
       <form action="/table_1" method="POST">
          <table class="table table-hover" style="margin-top: 20px">
              <thead>
                  <tr style="text-align: center">
                      <th style="border: none">Név</th>
                      <th style="border: none">Kategória</th>
                      <th style="border: none">Kiszerelés</th>
                      <th style="border: none">Ár</th>
                      <th style="border: none">Mennyiség</th>
                      <th style="border: none">Rendelés</th>
                  </tr>
              </thead>
              <tbody id="sutemenyektabla">
               
              </tbody>
          </table>
      </form>
          </div>


<!-- Megrendelő rész -->


      <div class="col-lg-4">
        <main>
          <div class="col-md-8 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-warning">Rendelés összesítő</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Espresso kávé</h6>
                  <small>2 adag</small>
                </div>
                <span>580</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Espresso kávé</h6>
                  <small>2 adag</small>
                </div>
                <span>580</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Espresso kávé</h6>
                  <small>2 adag</small>
                </div>
                <span>580</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Espresso kávé</h6>
                  <small>2 adag</small>
                </div>
                <span>580</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Espresso kávé</h6>
                  <small>2 adag</small>
                </div>
                <span>580</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <strong>Összesen (Ft)</strong>
                <strong>2900</strong>
              </li>
            </ul>
            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Azonosító" />
                <button type="submit" class="btn btn-warning">Fizetés</button>
              </div>
            </form>
          </div>
        </main>
            </div>
</div>
</div>



<!-- BUTTON SECTION -->
  <div class="container" style="margin-top: 100px">
    <div class="row justify-content-center">
        <a href="/tables" class="btn btn-warning col-3" style="margin-right: 10px;">Vissza</a>
        </div>
    </div>


    <%- include('include/_footer') %>
