
  <%- include('include/_headerlog') %>

  <h2 class="mt-5" style="text-align: center">4. asztal rendelésének leadása</h2>
  
  <div class="box-nav d-flex justify-content-center" style="margin-top: 80px;">
    <button type="reset" class="btn btn-warning col-md-2" style="margin-bottom: 40px; margin-right: 25px;" onclick="location.href='/table_1_order'">
      Kosár
  </button>    <button type="reset" class="btn btn-secondary col-md-2" style="margin-bottom: 40px; margin-left: 25px;" onclick="location.href='/tables'">
    Vissza
</button>
 </div>
  
  <div class="container">
      <h1 class="text-warning" style="margin-top: 80px;margin-left: 170px; font-weight: bold; margin-bottom: 30px;">Italok</h1>
      <div class="col-9" style="margin-left: 170px;">
     
          <table class="table table-hover">
              <thead style="text-align: center;">
                <tr>
                  <th scope="col-2">Név</th>
                  <th scope="col-2">Kiszerelés</th>
                  <th scope="col-2">Egységár (Ft)</th>
                  <th scope="col-2">Rendelt mennyiség</th>
                  <th scope="col-2">Kosárba</th>
                </tr>
              </thead>
              <tbody id="italoktabla">
  
  
              </tbody>
            </table>
      </div>
   
    
      <h1 class="text-warning" style="margin-top: 80px;margin-left: 170px; font-weight: bold; margin-bottom: 30px;">Kávék</h1>
      <div class="col-9" style="margin-left: 170px;">
     
          <table class="table table-hover">
              <thead style="text-align: center;">
                <tr>
                  <th scope="col-2">Név</th>
                  <th scope="col-2">Kiszerelés</th>
                  <th scope="col-2">Egységár (Ft)</th>
                  <th scope="col-2">Rendelt mennyiség</th>
                  <th scope="col-2">Kosárba</th>
                </tr>
              </thead>
              <tbody id="kavektabla">
  
              </tbody>
            </table>
      </div>
    
      <h1 class="text-warning" style="margin-top: 60px; margin-left: 170px; font-weight: bold; margin-bottom: 30px;">Sütemények</h1>
      <div class="col-9" style="margin-left: 170px;">
     
          <table class="table table-hover">
              <thead style="text-align: center;">
                <tr class="table-default">
                  <th scope="col-2">Név</th>
                  <th scope="col-2">Kiszerelés</th>
                  <th scope="col-2">Egységár (Ft)</th>
                  <th scope="col-2">Rendelt mennyiség</th>
                  <th scope="col-2">Kosárba</th>
                </tr>
              </thead>
              <tbody id="sutemenyektabla">
  
              
              </tbody>
            </table>
  
      </div>
  </div>
  
  
  
      <%- include('include/_footer_table1') %>
  