
  <%- include('include/_header_table_1.ejs') %>

  <%- include('include/_navbartable_1.ejs') %>

  <div class="container" style="margin-top: 80px;margin-bottom: 50px;">
 
<h3 class="mt-4 text-lg font-bold" style="text-align: center;margin-bottom: 50px;">1. asztal rendelésének leadása</h3>

 <main role="main">
  <div class="container" >
   
    <h2 id="italok" class="text-dark" style="margin-bottom: 20px;">Italok</h2>
    <div class="col-lg-12">   
      <div id="italDIV" class="row">	
           
      </div>
    </div>

<hr style="margin-top: 30px;margin-bottom: 30px;">

    <h2 id="kavek" class="text-dark" style="margin-bottom: 20px;">Kávék</h2>     
    <div class="col-lg-12"> 
      <div id="kaveDIV" class="row">  
         
      </div>
    </div>

  <hr style="margin-top: 30px;margin-bottom: 30px;">

  <h2 id="sutik" class="text-dark" style="margin-bottom: 20px;">Sütemények</h2>   
  <div class="col-lg-12">
    <div id="sutiDIV" class="row">
       
    </div>
  </div>


</div>

</main>
  
<script src="/js/table_1.js"></script>
<%- include('include/_footer_chief') %>
