
<%- include('include/_headerlog') %>

<h2 class="mt-5" style="text-align: center">1. asztal rendelésének leadása</h2>

<div class="container">
  <div class="row">
      <div class="col-lg-9 bg-danger ">
          <div class="row products">
 

          </div>
        </div>
        <div class="col-lg-3 bg-warning">
            <h1> MEGRENDELŐ RÉSZ</h1>
        </div>
    </div>
</div>







    <%- include('include/_footer') %>
