
<%- include('include/_headerlog') %>

<h2 class="mt-5" style="text-align: center">Válaszd ki az asztalt a rendelés leadásához</h2>

<div class="container" style="margin-top: 50px">
    <div class="row justify-content-center">


      <div class="card bg-dark border-warning" style="max-width: 20rem; margin: 50px;">
      
        <div class="card-body" style="text-align: center;">
          <h4 class="card-title" style="font-weight: bold;">1.asztal</h4>
          <a href="/table_1" class="card-link text-secondary" style="margin-top: 10px;text-decoration: none;font-weight: bold;">Belépés</a>
        </div>
      </div>

      <div class="card bg-dark border-warning" style="max-width: 20rem; margin: 50px;">
      
        <div class="card-body" style="text-align: center;">
          <h4 class="card-title" style="font-weight: bold;">2.asztal</h4>
          <a href="/table_2" class="card-link text-secondary" style="margin-top: 10px;text-decoration: none;font-weight: bold;">Belépés</a>
        </div>
      </div>
    </div>


    <div class="row justify-content-center" style="margin-top: 40px">
      <div class="card bg-dark border-warning" style="max-width: 20rem; margin: 50px;">
      
        <div class="card-body" style="text-align: center;">
          <h4 class="card-title" style="font-weight: bold;">3.asztal</h4>
          <a href="/table_3" class="card-link text-secondary" style="margin-top: 10px;text-decoration: none;font-weight: bold;">Belépés</a>
        </div>
      </div>

      <div class="card bg-dark border-warning" style="max-width: 20rem; margin: 50px;">
      
        <div class="card-body" style="text-align: center;">
          <h4 class="card-title" style="font-weight: bold;">4.asztal</h4>
          <a href="/table_4" class="card-link text-secondary" style="margin-top: 10px;text-decoration: none; font-weight: bold;">Belépés</a>
        </div>
      </div>


      </div>

      <div class="container" style="margin-top: 50px">
        <div class="row justify-content-center">
            <a href="/users/logout" class="btn btn-warning col-2">Kijelentkezés</a>
        </div>
        </div>
  </div>



    <%- include('include/_footer') %>