<%- include('include/_headerlog') %>


<h2 class="mt-5" style="text-align: center">2. asztal rendelésének leadása</h2>






  <div class="container" style="margin-top: 100px">
    <div class="row justify-content-center">
      <a href="/tables" class="btn btn-warning col-3" style="margin-right: 10px;">Vissza</a
      </div>
    </div>

    <%- include('include/_footer') %>