<%- include('include/_header.ejs') %>



<div class="container">
  <div>
    <div>
      <h4>Figyelmeztetés!</h4>
      <p>
        Önnek nincs jogosultsága ennek az oldalnak a megtekintéséhez!
      </p>
      <a href="/tables">Tovább</a>
    </div>
  </div>
</div>



<%- include('include/_footer.ejs') %>
