<% for(var i = 0; i < sutemenyek.length; i++) { %>
    <tr class="table-dark border-0" style="text-align: center">
        <td style="padding-top: 25px; border: none"><%= sutemenyek[i].name %></td>
        <td style="padding-top: 25px; border: none"><%= sutemenyek[i].kiszereles %></td>
        <td style="padding-top: 25px; border: none"><%= sutemenyek[i].ar %></td>
    </tr>
    <% } %>