<% for(var i = 0; i < italok.length; i++) { %>
    <tr class="table-dark border-0" style="text-align: center">
        <td style="padding-top: 25px; border: none"><%= italok[i].name %></td>
        <td style="padding-top: 25px; border: none"><%= italok[i].kategoria %></td>
        <td style="padding-top: 25px; border: none"><%= italok[i].kiszereles %></td>
        <td style="padding-top: 25px; border: none"><%= italok[i].ar %></td>
    </tr>
    <% } %>