<div>
    <div class="form-group">
        <label for="name">Név</label>
        <input type="hidden" name="id" value="">
        <input type="text" name="name" value="" placeholder="Add meg a termék nevét!">
    </div>
    <div class="form-group">
        <label for="kiszereles">Kiszerelés</label>
        <input type="text" name="kiszereles" value="" placeholder="Adj meg a termék kiszerelését!">
    </div>
    <div class="form-group">
        <label for="price">Egységár</label>
        <input type="text" name="price" value="" placeholder="Add meg a termék egységárát (forint nélkül)">
    </div>            

          <div>
            <button type="submit" class="create">Mentés</button>
          </div>
        </div>