<div>
  <h1>KUNPAO's CAFE MANAGEMENT SYSTEM</h1>

  <img src="/img/cafe.png" alt="cafe.jpg" />
  <div class="namebox">
    <p">Készítette: Kun-Fagyal Zoltán</p>
    <p>mérnökinformatikus hallgató, levelező tagozat</p>
    <p>&copy; 2021–2022</p>
  </div>
</div>
