.container{
    margin-top: 150px; 
    padding-top: 30px; 
    border-radius: 30px; 
    width: 800px;
}

.form-group{
    margin-bottom: 30px;
}

.form-control{
    background-color:bisque";
}

hr{

    margin-top: 30px;
    margin-bottom: 30px;
}