.container{
    margin-top: 60px;
    border-radius: 20px;
}

.cim{
    text-align: center;
    padding-top: 30px;
}

.table{
    margin-top: 40px
}

.col-2{
    border: none;

}

tr{
    text-align: center;
}

td{
    border: none;
}
