.button{

    margin-top: 50px;
}

button{
    margin:10px;
}

.card-title{
    font-weight:bold;
}

.container{
    margin-top: 50px;
    padding-top: 30px; 
    border-radius: 30px; 
    width: 1200px;
    padding-bottom: 40px;
}

.cim{
    text-align: center;
    margin-bottom: 50px;
    
}

.namebox{
    text-align: center;
    margin-top:150px;
}

.productcard{
    text-align:center;
    border-radius:15px;
    
}

.navimg{

    width:30px;
    height:30px;
}

.col-2{
    border: none;

}

.form-group{
    margin-bottom: 30px;
    margin-top: 30px;

}

.form-label{
   
    margin-bottom: 15px;

}

hr{

    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    margin-top: 100px;
    margin-bottom: 100px;
}


img{
    width: 300px;
    border-radius: 30px;
}

.login{
    margin-top: 20px; 
    
}

.loginplace{
    
  width: 700px;


}

.table{
    margin-top: 40px;
}


tr{
    text-align: center;
   
}

td{
    border: none;

  
}

thead{
    text-align: center;
}



.text-dark{

    margin-bottom: 20px;
}

.welcome{
    text-align: center
}
